{% load staticfiles i18n %}
<ul class="list-unstyled row portfolio-box-v1">
    <li class="col-sm-4">
        <img class="img-responsive" src="{% static 'assets/img/mockup/img1.jpg' %}" alt="">
        <div class="portfolio-box-v1-in">
            <h3>Collective Package</h3>
            <p>Web Design, Mock-up</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
        </div>
    </li>
    <li class="col-sm-4">
        <img class="img-responsive" src="{% static 'assets/img/mockup/img2.jpg' %}" alt="">
        <div class="portfolio-box-v1-in">
            <h3>Ahola Company</h3>
            <p>Brand Design, UI</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
        </div>
    </li>
    <li class="col-sm-4">
        <img class="img-responsive" src="{% static 'assets/img/mockup/img4.jpg' %}" alt="">
        <div class="portfolio-box-v1-in">
            <h3>Allan Project</h3>
            <p>Web Development, HTML5</p>
            <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="#">Read More</a>
        </div>
    </li>
</ul>