{% load staticfiles i18n %}
<div class="row service-box-v1">
    <div class="col-md-4 col-sm-6">
        <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
            <h2 class="heading-md">PRE-PRODUCTION ENGINEERING AND FEASIBILITY</h2>
            <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            <ul class="list-unstyled">
                <li>Evaluate design concepts</li>
                <li>Ensure design integrity for DFM, scalability  and compliance with international safety standards</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
            <h2 class="heading-sm">SUPPLIER SELECTION AND DUE DILIGENCE</h2>
            <p>Identify and perform due diligence for vendors  having  the necessary international credentials (CE, FDA, ISO, RoHS, UL, etc.) to support client requirements.</p>
            <ul class="list-unstyled">
                <li><li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
            <h2 class="heading-sm">PRICE NEGOTIATION</h2>
            <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            <ul class="list-unstyled">
                <li>Negotiate pricing with all qualified vendors</li>
                <li>Provide comprehensive pricing agreements</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
            <h2 class="heading-sm">PROTOTYPING</h2>
            <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            <ul class="list-unstyled">
                <li>Provide proof of concept</li>
                <li>Produce “looks like/works like” prototypes</li>
                <li>Utilize appropriate bread-boarding, soft tooling (urethane, aluminum and mild steel), 3D<li>
                <li>printing, machining, and manual modeling techniques<li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="service-block service-block-default">
            <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
            <h2 class="heading-sm">TOOLING GENERATION</h2>
            <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            <ul class="list-unstyled">
                <li>Review client CAD files, STEP files, bill of materials (BOM), prototypes, renderings, specifications, etc.</li>
                <li>Manage all aspects of tooling</li>
                <li>Inspect all first article (FA) products including machined and molded parts</li>
                <li>Issue inspection reports to complete design files.</li>
            </ul>
        </div>
    </div>
</div>