{% load staticfiles i18n %}
<!-- Portfolio Section -->
<section id="clients"  class="client-section">

    <div class="clients-section parallaxBg">
        <div class="container-fluid">
            <div class="title-v1">
                <h2>{% trans 'Our Clients' %}</h2>
                <p>{% blocktrans %}<strong>Lorem ipsum</strong>  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                {% endblocktrans %}</p>
            </div>


            <ul class="owl-clients-v2">
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/national-geographic.png' %}"
                                                  alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/inspiring.png' %}" alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/fred-perry.png' %}" alt=""></a>
                </li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/emirates.png' %}" alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/baderbrau.png' %}" alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/inspiring.png' %}" alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/national-geographic.png' %}"
                                                  alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/inspiring.png' %}" alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/fred-perry.png' %}" alt=""></a>
                </li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/emirates.png' %}" alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/baderbrau.png' %}" alt=""></a></li>
                <li class="item"><a href="#"><img src="{% static 'assets/img/clients/inspiring.png' %}" alt=""></a></li>

            </ul>
        </div>
    </div>












{% include 'snippets/testimonials.html' %}




 <div class="owl-clients-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
				<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2412px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-268px, 0px, 0px);"><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/1.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/2.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/3.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/4.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/5.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/6.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/7.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/8.png" alt="">
				</div></div><div class="owl-item" style="width: 134px;"><div class="item">
					<img src="assets/img/clients4/9.png" alt="">
				</div></div></div></div>








			<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div></div>


</section>
<!-- End Portfolio Section -->







