{% load staticfiles i18n %}
<!--=== Header ===-->
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#intro">
                <span>East</span>Bridge <br>
                <small style="font-size: 14px;">Strategic Sourcing</small>
                <!-- <img src="{% static 'eb-intl_small.png' %}" alt="Logo"> -->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll home">
                        <a href="#about">{% trans 'About Us' %}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#services">{% trans 'Services' %}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">{% trans 'Products' %}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#clients">{% trans 'Clients' %}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#team">{% trans 'Team' %}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#news">{% trans 'News' %}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">{% trans 'Contact' %}</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">

                            <li class="page-scroll"><a href="#portfolio">{% trans 'Service Details' %}</a></li>
                            <li class="page-scroll"><a href="#contact">{% trans 'Product Details' %}</a></li>
                            <li class="page-scroll"><a href="#contact">{% trans 'Factories' %}</a></li>
                            <li class="page-scroll"><a href="#news">{% trans 'Suppliers' %}</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--=== End Header ===-->
