{% load staticfiles i18n %}
<!-- News Section -->
<section id="news" class="news-section">
<div class="container content-lg">
<div class="title-v1">
    <h2>{% trans 'Latest News' %}</h2>
    <p>{% blocktrans %}We do <strong>things</strong> differently company providing key digital services. <br>
        Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.{% endblocktrans %}</p>
    </div>

    <div class="row news-v1">
        <div class="col-md-4 md-margin-bottom-40">
            <div class="news-v1-in">
                <img class="img-responsive" src="{% static 'assets/img/contents/img1.jpg' %}" alt="">
                <h3><a href="#">Focused on helping our clients to build a successful business</a></h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                <ul class="list-inline news-v1-info">
                    <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                    <li>|</li>
                    <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                    <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <div class="news-v1-in">
                <img class="img-responsive" src="{% static 'assets/img/contents/img4.jpg' %}" alt="">
                <h3><a href="#">We build your website to realise your vision and best product</a></h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                <ul class="list-inline news-v1-info">
                    <li><span>By</span> <a href="#">John Clarck</a></li>
                    <li>|</li>
                    <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                    <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="news-v1-in">
                <img class="img-responsive" src="{% static 'assets/img/contents/img3.jpg' %}" alt="">
                <h3><a href="#">Focused on helping our clients to build a successful business</a></h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                <ul class="list-inline news-v1-info">
                    <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                    <li>|</li>
                    <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                    <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cbp-l-loadMore-button">
        <a href="{% url 'apps:blog:list' %}" class="cbp-l-loadMore-button-link">{% trans 'MORE' %}</a>
    </div>

<div class="call-action-v1-in inner-btn page-scroll">
										<a href="#portfolio" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-dark btn-u-block">REGISTER TODAY</a>
								</div>


</div>





</section>
<!-- End News Section -->
