{% load staticfiles i18n %}
<!-- Portfolio Section -->
<section id="portfolio" class="about-section">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>{% trans 'Latest Products' %}</h2>
            <p>{% blocktrans %} We do <strong>things</strong> differently company providing key digital services. <br>
                Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.{% endblocktrans %}</p>
        </div>


        <div class="cube-portfolio">
            <div id="filters-container" class="cbp-l-filters-button">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> {% trans 'All' %}</div>
                <div data-filter=".print" class="cbp-filter-item"> {% trans 'Our Clients' %}</div>
                <div data-filter=".web-design" class="cbp-filter-item"> {% trans 'Our' %}</div>
                <div data-filter=".motion" class="cbp-filter-item"> ---</div>
            </div><!--/end Filters Container-->

            <div id="grid-container" class="cbp-l-grid-gallery">
                <div class="cbp-item print motion">
                    <a href="{% static 'assets/ajax/project1.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="World Clock Widget<br>by Paul Flavius Nechita">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/1.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">World Clock Widget</div>
                                    <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item web-design">
                    <a href="{% static 'assets/ajax/project2.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="Bolt UI<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/2.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Bolt UI</div>
                                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item print motion">
                    <a href="{% static 'assets/ajax/project3.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="WhereTO App<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/3.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">WhereTO App</div>
                                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item web-design print">
                    <a href="{% static 'assets/ajax/project4.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="iDevices<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/11.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">iDevices</div>
                                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item motion">
                    <a href="{% static 'assets/ajax/project5.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/5.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item print motion">
                    <a href="{% static 'assets/ajax/project6.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/6.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Remind~Me Widget</div>
                                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item web-design print">
                    <a href="{% static 'assets/ajax/project7.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="Workout Buddy<br>by Tiberiu Neamu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/7.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Workout Buddy</div>
                                    <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item print">
                    <a href="{% static 'assets/ajax/project8.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="Digital Menu<br>by Cosmin Capitanu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/8.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Digital Menu</div>
                                    <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cbp-item motion">
                    <a href="{% static 'assets/ajax/project9.html' %}" class="cbp-caption cbp-singlePageInline"
                       data-title="Holiday Selector<br>by Cosmin Capitanu">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{% static 'assets/img/portfolio/4.jpg' %}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">Holiday Selector</div>
                                    <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="cbp-l-loadMore-button">
                <a href="{% static 'assets/ajax/loadMore.html' %}" class="cbp-l-loadMore-button-link">{% trans 'MORE' %}</a>
            </div>
        </div>
    </div>

    {% include 'sections/clients.html' %}

    {% include 'sections/testimonials.html' %}
</section>
<!-- End Portfolio Section -->
