{% load staticfiles i18n %}
<!-- Services Section -->
<section id="services">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>{% trans 'Our Services' %}</h2>
            <p>{% blocktrans %}We do <strong>things</strong> differently company providing key digital services. <br>
                Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.{% endblocktrans %}</p>
        </div>
        {% include 'snippets/service-box-v1.html' %}

    </div>

    {% include 'snippets/portfolio-box-v1.html' %}
    <div class="call-action-v1">
        <div class="container">
            <div class="call-action-v1-box">
                <div class="call-action-v1-in">
                    <p>{% blocktrans %}Unify creative technology company providing key digital services and focused on
                        helping our clients to build a successful business on web and mobile.{% endblocktrans %}</p>
                </div>
                <div class="call-action-v1-in inner-btn page-scroll">
                    <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">{% trans 'View Our Portfolio' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
