{% load staticfiles i18n %}
<section id="services">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">{% trans 'OUR SERVICES' %}</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>,
                you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                generators on the Internet tend to repeat predefined chunks as necessary, making <span
                        class="color-green">this the first</span> true generator on the Internet.</p>
        </div>

        <div class="row content-boxes-v4 content-boxes-v4-sm">
            {% for service in services.all %}
                <div class="col-md-4 md-margin-bottom-40">
                    <i class="pull-left fa fa-{{ service.icon }}"></i>
                    <div class="content-boxes-in-v4">
                        <a href="#"><h2>{% trans service.title %}</h2></a>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

