{% load staticfiles i18n %}
<!--  About Section -->
<section id="team" class="about-section section-first">
    <div class="team-v1 bg-grey content-lg">
        <div class="container">
            <div class="title-v1">
                <h2>{% trans 'Our Team' %}</h2>

                <p><strong>EastBridge Engineering, a division of the EastBridge family of companies, was founded in 2003
                    to provide manufacturers, product designers and entrepreneurs with on site manufacturing management
                    and related services around the world.</strong>
                    <br>Our engineers and staff of specialists manage new product development, production scale-up,
                    quality assurance and global logistics.
                    <br>The EastBridge staff offers decades of experience in manufacturing engineering & procurement,
                    international trade and contract management. They are qualified in engineering, material science and
                    are fluent in Chinese and a variety of languages.

                </p>
            </div>


            <ul class="list-unstyled row">
                {% for member in team %}
                <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="{{ member.image.get_display_url }}" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <h3>{{ member.name }}</h3>
                    <h4>/ {{ member.position}}</h4>
                    <p>{{ member.short_description|truncatechars:100 }}</p>
                </li>
                {% endfor %}


            </ul>
        </div>
    </div>
</section>
<!--  About Section -->
