{% load staticfiles i18n %}
<!--  About Section -->
<section id="team" class="about-section section-first">
    <div class="team-v1 bg-grey content-lg">
        <div class="container">
            <div class="title-v1">
                <h2>{% trans 'Our Team' %}</h2>

                <p>{% blocktrans %}<strong>EastBridge Strategic Sourcing</strong>, a division of the EastBridge family of companies, was founded in 2003 to provide manufacturers, product designers and entrepreneurs with on site manufacturing management and related services around the world. Our engineers and staff of specialists manage new product development, production scale-up, quality assurance and global logistics. The EastBridge staff offers decades of experience in manufacturing engineering & procurement, international trade and contract management. They are qualified in engineering, material science and are fluent in Chinese and a variety of languages.{% endblocktrans %}</p>
            </div>


            <ul class="list-unstyled row">
                {% for member in team %}
                <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="{{ member.image.get_400x400_url }}" alt="">
                        <ul>
                            {% for net in member.social.all %}
                                <li><a href="{{ net.link }}"><i class="icon-custom icon-sm rounded-x fa fa-{{ net.icon }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h3>{{ member.name }}</h3>
                    <h4>/ {{ member.position}}</h4>
                    <p>{{ member.short_description|truncatechars:100 }}</p>
                </li>
                {% endfor %}


            </ul>

        </div>
    </div>


    <div class="parallax-counter parallaxBg" style="background-position: 50% -608px;">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-6">
						<div class="counters">
							<span class="counter">10629</span>
							<h4>Clients</h4>
						</div>
					</div>
					<div class="col-sm-2 col-xs-6">
						<div class="counters">
							<span class="counter">277</span>
							<h4>Products</h4>
						</div>
					</div>
					<div class="col-sm-2 col-xs-6">
						<div class="counters">
							<span class="counter">78</span>
							<h4>Team Members</h4>
						</div>
					</div>
					<div class="col-sm-2 col-xs-6">
						<div class="counters">
							<span class="counter">109</span>
							<h4>Distributors</h4>
						</div>
					</div>
                    <div class="col-sm-3 col-xs-6">
						<div class="counters">
							<span class="counter">109</span>
							<h4>Factories</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!--  About Section -->
