{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block container %}
    {% include 'blog/snippets/header.html' %}

    <div class="wrapper">
        {% include 'blog/snippets/breadcrumbs.html' %}

        {% block content %}{% endblock %}

        {% include 'sections/footer.html' %}
    </div>
{% endblock %}

{% block javascript %}
    	<!-- JS Global Compulsory -->
	<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- JS Implementing Plugins -->
	<script src="{% static 'assets/plugins/smoothScroll.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery.easing.min.js' %}"></script>
	<script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery.parallax.js' %}"></script>
	<script src="{% static 'assets/plugins/counter/waypoints.min.js' %}"></script>
	<script src="{% static 'assets/plugins/counter/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'assets/plugins/owl-carousel/owl.carousel.js' %}"></script>
	<script src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js' %}"></script>
	<script src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
	<script src="{% static 'assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
	<!-- JS Page Level-->
	<script src="{% static 'assets/js/blog.app.js' %}"></script>
	<script src="{% static 'assets/js/forms/login.js' %}"></script>
	<script src="{% static 'assets/js/forms/contact.js' %}"></script>
	<script src="{% static 'assets/js/plugins/pace-loader.js' %}"></script>
	<script src="{% static 'assets/js/plugins/owl-carousel.js' %}"></script>
	<script src="{% static 'assets/js/plugins/style-switcher.js' %}"></script>
	<script src="{% static 'assets/js/plugins/revolution-slider.js' %}"></script>
	<script src="{% static 'assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js' %}"></script>
	<script>
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initParallaxBg();
			LoginForm.initLoginForm();
			ContactForm.initContactForm();
			OwlCarousel.initOwlCarousel();
			//StyleSwitcher.initStyleSwitcher();
			RevolutionSlider.initRSfullScreen();
		});
	</script>
	<!--[if lt IE 9]>
		<script src="{% static 'assets/plugins/respond.js' %}"></script>
		<script src="{% static 'assets/plugins/html5shiv.js' %}"></script>
		<script src="{% static 'assets/js/plugins/placeholder-IE-fixes.js' %}"></script>
		<script src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js' %}"></script>
		<![endif]-->

	<!--[if lt IE 10]>
		<script src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js' %}"></script>
		<![endif]-->
{% endblock %}
